{% extends 'bots/layout.html' %}
{% load bots_filters %}
{% load battle_filters %}
{% load humanize %}

{% block title %}Battle History{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block h1 %}<code>Hell0 there, fell0w h00man!</code>{% endblock %}

{% block content %}

    <table class="table table-sm">
        <thead>
        <tr>
            <th rowspan="2">Datum</th>
            <th rowspan="2" class="text_left">Typ útoku</th>
            <th rowspan="2" class="text_left">Bitva</th>
            <th class="text-center" colspan="4">Útočník</th>
            <th class="text-center" colspan="4">Obránce</th>
            <th rowspan="2">Kvalita</th>
            <th class="text-center" rowspan="2">Výsledek</th>
            <th rowspan="2">hAR</th>
            <th class="text-center" colspan="2">Sláva</th>
            <th rowspan="2">Detail</th>
        </tr>
        <tr>
            <th>B.</th>
            <th>ID</th>
            <th class="text-left">Regent</th>
            <th>Síla</th>
            <th>B.</th>
            <th>ID</th>
            <th class="text-left">Regent</th>
            <th>Síla</th>
            <th>Já</th>
            <th>On</th>
        </tr>
        </thead>
        <tbody>
        {% for battle in battles %}
            <tr>
                <td class="text-right">{{ battle.battle_timestamp|timestamp_to_time|time_dm_hm }}</td>
                <td>{{ battle.type }}</td>
                <td>{% if battle.battle_quality %} {{ battle.battle_quality }} {% else %} {{ battle.gate_number }}. brána {% endif %}</td>
                <td class="text-center">{{ battle.color_attacker }}{{ battle.specialisation_attacker }}</td>
                <td class="text-right">{{ battle.id_attacker }}</td>
                <td>
                    {% if battle|is_bot_attacker:bot_ids %}<code>{{ battle.name_attacker|sanitize_regent }}</code>
                    {% else %}
                        {{ battle.name_attacker|sanitize_regent }}
                    {% endif %}
                </td>
                <td class="text-right">{{ battle.power_before_attacker|nf_thousands }}</td>
                <td class="text-center">{{ battle.color_defender }}{{ battle.specialisation_defender }}</td>
                <td class="text-right">{{ battle.id_defender }}</td>
                <td>
                    {% if battle|is_bot_attacker:bot_ids %}
                        {{ battle.name_defender|sanitize_regent }}
                    {% else %}
                        <code>{{ battle.name_defender|sanitize_regent }}</code>
                    {% endif %}
                </td>
                <td class="text-right">{{ battle.power_before_defender|nf_thousands }}</td>
                <td class="text-right">{{ battle.target_quality|floatformat:2 }}</td>
                <td class="text-center {{ battle|battle_result_class:bot_ids }}">
                    {{ battle.losses_attacker|mult:100|floatformat:2 }}% : {{ battle.losses_defender|mult:100|floatformat:2 }}%
                </td>
                <td class="text-right">
                    {% if battle|is_bot_attacker:bot_ids %}
                        {{ battle.area_taken|nf_pm }}
                    {% else %}
                        {{ battle.area_taken|nf_pm:True }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if battle|is_bot_attacker:bot_ids %}
                        {{ battle.glory_attacker|nf_pm }}
                    {% else %}
                        {{ battle.glory_defender|nf_pm }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if battle|is_bot_attacker:bot_ids %}
                        {{ battle.glory_defender|nf_pm }}
                    {% else %}
                        {{ battle.glory_attacker|nf_pm }}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'bots:battle_history_detail' battle_history_id=battle.id %}">Detail</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}