{% extends 'bots/layout.html' %}
{% load bots_filters %}
{% load battle_filters %}
{% load humanize %}

{% block title %}Battle History Detail{% endblock %}

{% block css %}
    <!--suppress CssUnusedSymbol -->
    <style type="text/css">
        .battle {
            background-color: #181913;
            color: #a8a8a8;
            text-align: center;
            line-height: 1.2;
            font-family: "Helvetica-Neue", "Helvetica", Verdana, Arial, sans-serif;
            font-size: 80%;
            padding: 10px 0;
        }

        .battle span {
            display: block;
        }

        .fight_attacker, .fight_defender {
            font-weight: bold;
            color: orange;
            font-size: 120%;
            padding: 2px;
        }

        .my_unit_attacks, .attack_type_CS {
            color: #FEA909;
        }

        .my_unit_attacks, .his_unit_attacks {
            padding: 3px 0;
        }

        .his_unit_attacks {
            color: #A8A8A8;
        }

        .do_show {
            display: none;
        }


        .attack_spell_result_not_casted {
            color: #772211;
            font-style: italic;
        }

        .attack_spell_result_ok {
            color: #339933;
        }

        .attack_spell {
            padding: 2px 0 2px 0;
        }

        .attack_round_1, .attack_round_2, .attack_round_3, .attack_round_4 {
            padding: 2px;
        }

        .unit_strikes_back, .unit_strikes_back .my_unit_attacks, .unit_strikes_back .his_unit_attacks {
            font-style: italic;
            color: #707070;
            padding: 0 0 0 10px;
        }
    </style>
{% endblock %}

{% block js %}
{% endblock %}

{% block h1 %}<code>Hell0 there, fell0w h00man!</code>{% endblock %}

{% block content %}

    <div class="battle">
        <span>({{ battle.battle_timestamp|timestamp_to_time|time_dm_hm }})</span>

        {{ battle.body_gzipped|un_gzip }}
    </div>

    <h3>Útočník</h3>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Jednotka</th>
            <th>Podpora</th>
            <th>Barva</th>
            <th>Zkuš.</th>
            <th>Phb.</th>
            <th>Druh</th>
            <th>Typ&nbsp;Ut.</th>
            <th>Inc</th>
            <th colspan="3">Síla před / po</th>
            <th colspan="3">Počet před / po</th>
            <th>Do ztrát</th>
        </tr>
        </thead>
        <tbody>
        {% for unit in attacker_units %}
            <tr>
                <td class="text-left">{{ unit.name }}</td>
                <td>{{ unit.support_id|default_if_none:'' }}</td>
                <td class="text-center">{{ unit.color }}</td>
                <td>{{ unit.xp|floatformat:2 }}%</td>
                <td class="text-center">{{ unit.speed }}</td>
                <td class="text-center">{{ unit.movement_type }}</td>
                <td class="text-center">{{ unit.attack_type }}</td>
                <td class="text-center">{{ unit.ini }}</td>
                <td class="text-right">{{ unit.count_original|mult:unit.power|floor|nf_thousands }}</td>
                <td class="text-right">{{ unit.count|mult:unit.power|floor|nf_thousands }}</td>
                <td></td>
                <td class="text-right">{{ unit.count_original }}</td>
                <td class="text-right">{{ unit.count }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Obránce</h3>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Jednotka</th>
            <th>Podpora</th>
            <th>Barva</th>
            <th>Zkuš.</th>
            <th>Phb.</th>
            <th>Druh</th>
            <th>Typ&nbsp;Ut.</th>
            <th>Inc</th>
            <th colspan="3">Síla před / po</th>
            <th colspan="3">Počet před / po</th>
            <th>Do ztrát</th>
        </tr>
        </thead>
        <tbody>
        {% for unit in defender_units %}
            <tr>
                <td class="text-left">{{ unit.name }}</td>
                <td>{{ unit.support_id|default_if_none:'' }}</td>
                <td class="text-center">{{ unit.color }}</td>
                <td>{{ unit.xp|floatformat:2 }}%</td>
                <td class="text-center">{{ unit.speed }}</td>
                <td class="text-center">{{ unit.movement_type }}</td>
                <td class="text-center">{{ unit.attack_type }}</td>
                <td class="text-center">{{ unit.ini }}</td>
                <td class="text-right">{{ unit.count_original|mult:unit.power|floor|nf_thousands }}</td>
                <td class="text-right">{{ unit.count|mult:unit.power|floor|nf_thousands }}</td>
                <td></td>
                <td class="text-right">{{ unit.count_original }}</td>
                <td class="text-right">{{ unit.count }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}