{% extends 'bots/layout.html' %}
{% load bots_filters %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block css %}
    <style type="text/css">
        tr.no-border-top td {
            border-top: none;
        }

        .returned-primary .regent, .returned-primary .province {
            text-decoration: line-through;
        }

        .super-army .army-label {
            font-weight: bold;
        }

        .inactive {
            color: #9a9fa2;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#combat-toggle').click(() => $('tr.combat').toggle());
    </script>
{% endblock %}

{% block content %}
    <h1{% if ui_background %} style="background-color: {{ ui_background }}"{% endif %}>
        <code>Hell0 there, fell0w h00man!</code>
        <button class="btn btn-sm btn-secondary" id="combat-toggle">&#128737;&#9876;</button>
        <a class="btn btn-sm btn-secondary" href="{% url 'bots:battle_history_xlsx' %}">XLSX</a>
        <a class="btn btn-sm btn-secondary" href="{% url 'bots:battle_history_xlsx_pvp' %}">XLSX PvP</a>
        {{ active_bot_count }}/{{ max_bot_count }}
    </h1>

    {% if show_admin_info %}
        <div class="form-row">
            <div class="col">
                <form action="{% url 'bots:tick' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">TICK</button>
                </form>

            </div>
            <div class="col">
                <form action="{% url 'bots:init' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Initialize new bot</button>
                </form>

            </div>
        </div>
    {% endif %}

    <table class="table table-sm my-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
            <th scope="col">Color</th>
            <th scope="col">MA ID</th>
            <th scope="col">Login/Pwd</th>
            <th scope="col">Army / Spells</th>
            <th scope="col">Army power</th>
            <th scope="col">Activated</th>
            <th scope="col">Last CS</th>
            <th scope="col">Bounties</th>
            <th scope="col">Returns</th>
            {% if show_admin_info %}
                <th scope="col" colspan="3">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for bot in bots %}
            <tr class="{% if bot.army.color == 'XX' %} super-army {% endif %}{% if not bot.active %} inactive {% endif %}">
                <th scope="row">#{{ bot.id }}</th>
                <td>{{ bot.name }}</td>
                <td>
                    {% if bot.active %}
                        <span class="badge badge-success">Yes</span>
                    {% else %}
                        <span class="badge badge-light">No</span>
                    {% endif %}
                </td>
                <td><code>{{ bot.color }}</code></td>
                <td>{{ bot.ma_province_id }}</td>
                <td><code>{% if show_admin_info %}{{ bot.ma_login }}{% else %}&mdash;{% endif %}</code></td>
                <td class="army-label">{{ bot.army.label }} [{{ bot.army.id }}]</td>
                <td>{{ bot.army_power|intcomma }}</td>
                <td>{{ bot.last_activated|time_dm_hm }}</td>
                <td>{{ bot.last_cs_returned|time_dm_hm }} [{{ bot.returned_cs_count }}x]</td>
                <td>{{ bot.bounty_time_at|time_dm_hm }}</td>
                <td>{{ bot.expires_returns_at|time_dm_hm }}</td>
                {% if show_admin_info %}
                    <td>
                        <form action="{% url 'bots:activate' bot_id=bot.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning"{% if bot.active %} disabled{% endif %}>activate</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'bots:return_cs' bot_id=bot.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning"{% if not bot.active %} disabled{% endif %}>CS</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'bots:retire' bot_id=bot.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning"{% if not bot.active %} disabled{% endif %}>retire</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'bots:post_bounties' bot_id=bot.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning"{% if not bot.active %} disabled{% endif %} title="Forces bounty (eg. 100% chance)">bounty</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
            <tr class="no-border-top {% if not bot.active %} inactive {% endif %}">
                <td></td>
                <td>{{ bot.province }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><code>{% if show_admin_info %}{{ bot.ma_password }}{% else %}&mdash;{% endif %}</code></td>
                <td><small>{{ bot.combat_spell_settings.label }}</small></td>
                <td></td>
                <td><small class="text-secondary">{{ bot.last_activated|naturaltime|default_if_none:'&mdash;' }}</small></td>
                <td><small class="text-secondary">{{ bot.last_cs_returned|naturaltime|default_if_none:'&mdash;' }}</small></td>
                <td><small class="text-secondary">{{ bot.bounty_time_at|naturaltime|default_if_none:'&mdash;' }}</small></td>
                <td><small class="text-secondary">{{ bot.expires_returns_at|naturaltime|default_if_none:'&mdash;' }}</small></td>
                {% if show_admin_info %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            {% with combats_by_bot_ma_id|get_dict_item:bot.ma_province_id as combats %}
                {% for combat in combats %}
                    <tr class="no-border-top combat{% if combat.is_defense and combat.protiutok_pouzito %} returned-primary {% endif %}{% if not bot.active %} inactive {% endif %}">
                        <td><small>
                            {% if combat.is_defense %}
                                {% if combat.protiutok_pouzito %}&#9960;{% else %}&#128737;{% endif %}
                            {% else %}
                                &#9876;
                            {% endif %}
                        </small></td>
                        <td class="regent"><small>{{ combat.spravce }}</small></td>
                        <td class="province"><small>{{ combat.provincie }}</small></td>
                        <td></td>
                        <td><small>{{ combat.kdo }}</small></td>
                        <td><small>{{ combat.nazev_aliance }}</small></td>
                        <td><small>{{ combat.ztraty_kdo }}% : {{ combat.ztraty_koho }}%, gained {{ combat.zabrano_har }} hAr</small></td>
                        <td><small>{{ combat.sila_utocnika|intcomma }} vs {{ combat.sila_obrance|intcomma }}</small></td>
                        <td title="{{ combat.kdy|timestamp_to_time|time_dm_hm }}"><small>{{ combat.kdy|timestamp_to_time|naturaltime|default_if_none:'&mdash;' }}</small></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if show_admin_info %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}